<p>{{ name }}</p>
<p>{{ titulos }}</p>
<p>{{ mision }}</p>
<p>{{ foto }}</p>

<table>
    <tr>
        <td>
            <p>Luis David Cocotle Yáñez</p>
            <p>Hola xdd</p>
        </td>
        <td>
            <p>Insertar foto después</p>
        </td>

        <td>
            <ul>
                <li>luisdavidcocoy@hotmail.com</li>
                <li>2721057503</li>
                <li>Orizaba, Veracruz</li>
                <li>@LuisCocotleUV</li>
            </ul>
        </td>
    </tr>
</table>